{% extends "index.html" %}
{% block title %} Budgeting {% endblock %}

{% block body %}
<form action="/budgeting" method="post">
    <h1>Budgeting</h1>
    <p>Today is {{ week_day }}, {{ date_today }}. </p>
    <br>
    <h3>Monthly budgeting</h3>
    <div class="mb-3">
        <label for="daily_spendings">Daily spendings [%]</label>
        <input type="number" min="0" max="100" id="daily_spendings" name="daily_spendings"><br><br>
        <label for="large_spendings">Large spendings [%]</label>
        <input type="number" min="0" max="100" id="large_spendings" name="large_spendings"><br><br>
        <label for="investments">Investments [%]</label>
        <input type="number" min="0" max="100" id="investments" name="investments"><br><br>
        <label for="education">Education [%]</label>
        <input type="number" min="0" max="100" id="education" name="education"><br><br>
        <label for="others">Others [%]</label>
        <input type="number" min="0" max="100" id="others" name="others"><br><br>
        <button class="btn btn-primary" type="submit">Add budgeting</button>
        <br>
    </div>
</form> 
<h3>Show budgeting</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Value %</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
  <br>

{% endblock %}