{% extends "index.html" %}
{% block title %} Budgeting {% endblock %}

{% block body %}
<form action="/budgeting" method="post">
    <h1>Budgeting</h1>
    <p>Today is {{ week_day }}, {{ date_today }}. </p>
    <br>
    <h3>Monthly budgeting</h3>
    <div class="mb-3">
        <label for="income">Income [$]</label>
        <input type="number" min="0" id="income" name="income" required><br><br>
        <label for="daily_spendings">Daily spendings [%]</label>
        <input type="number" min="0" step="5" max="100" placeholder="55" id="daily_spendings" name="daily_spendings" required><br><br>
        <label for="large_spendings">Large spendings [%]</label>
        <input type="number" min="0" step="5" max="100" placeholder="10" id="large_spendings" name="large_spendings" required><br><br>
        <label for="investments">Investments [%]</label>
        <input type="number" min="0" step="5" max="100" placeholder="15" id="investments" name="investments" required><br><br>
        <label for="education">Education [%]</label>
        <input type="number" min="0" step="5" max="100" placeholder="10" id="education" name="education" required><br><br>
        <label for="others">Other [%]</label>
        <input type="number" min="0" step="5" max="100" placeholder="10" id="others" name="others" required><br><br>
        <button class="btn btn-primary" type="submit">Add budgeting</button>
        <br>
    </div>
</form> 
<h3>Show budgeting</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Value</th>
        <th scope="col">Value</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
        {% for data in table %}
            <tr>
              <td>{{ data[0] }}</td>
              <td>{{ data[2] }}%</td>
              <td>{{ data[1] }}$</td>
              <td>{{ data[3] }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
  <br>

{% endblock %}