{% extends "index.html" %}
{% block title %} Spendings {% endblock %}

{% block body %}
<form action="/spendings" method="post">
    <h1>Spendings</h1>
    <p>Today is {{ week_day }}, {{ date_today }}.</p>
    <br>
    <h3>Add spendings</h3>
    <div class="mb-3">
        <label for="value">Value [$]</label>
        <input type="number" min="0.01" step="0.01" onchange="setTwoNumberDecimal" id="value" name="value" required><br><br>
        <label for="category">Category</label>
        <select name="category" id="category">
            <option value="daily_spendings">Daily spendings</option>
            <option value="large_spendings">Large spensings</option>
            <option value="investments">Investments</option>
            <option value="education">Education</option>
            <option value="others">Other</option>
          </select> <br><br>
        <label for="note">Note</label>
        <input type="text" id="note" name="note"><br><br>
        <button class="btn btn-primary" type="submit">Add</button>
        <br><br>
        <h3>Check spendings</h3>
        <p>Click the button to check spendings.</p>
        <a class="btn btn-primary" href="/showspendings">Click here</a>
        <br><br>
    </div>
</form>

{% endblock %}