{% extends "index.html" %}
{% block title %} Summary {% endblock %}

{% block body %}
<form action="/" method="post">
    <h1>Summary</h1>
    <p>Today is {{ week_day }}, {{ date_today }}.</p>
    <p>This is current month summary.</p>
    <br>
    <h3>Income, savings and spendings</h3>
    <p><b>Income: {{ income }}$</b></p>
    <p><b>Savings: {{ savings }}$</b></p>
    <p><b>Spendings: {{ spendings["total"] }}$</b></p>
    <br>
    <h3>Budgeting</h3>
    <p>Daily spendings: {{ budgeting[0][1] }}$</p>
    <p>Large spendings: {{ budgeting[1][1] }}$</p>
    <p>Investments: {{ budgeting[2][1] }}$</p>
    <p>Education: {{ budgeting[3][1] }}$</p>
    <p>Others: {{ budgeting[4][1] }}$</p>
    <br>
    <h3>Spendings</h3>
    <p>Daily spendings: {{ spendings["daily_spendings"] }}$</p>
    <p>Large spendings: {{ spendings["large_spendings"] }}$</p>
    <p>Investments: {{ spendings["investments"] }}$</p>
    <p>Education: {{ spendings["education"] }}$</p>
    <p>Others: {{ spendings["others"] }}$</p>
    <br>
    <h3>Balance sheet</h3>
    <p>Difference between budgeting and spendings.</p>
    <br>
    <p>Daily spendings: {{ balance["daily_spendings"] }}$</p>
    <p>Large spendings: {{ balance["large_spendings"] }}$</p>
    <p>Investments: {{ balance["investments"] }}$</p>
    <p>Education: {{ balance["education"] }}$</p>
    <p>Others: {{ balance["others"] }}$</p>
    <b>TOTAL: {{ balance["total"] }}$</b>
</form> 

{% endblock %}